.breadcrumbs {
	padding: 30px 0;
	background-color: #f2f2f2;
	
	.breadcrumbs-page {
		float: left;

		.breadcrumbs-page-title {
			margin: 0;
			font-size: 22px;
			color: $color-gray-dark;
		}
	}

	.breadcrumbs-trail {
		float: right;
		margin: 0;
		padding: 0;

		li {
			display: inline-block;
			
			&::after {
				content: '/';
				padding: 5px;
			}
			
			a,
			span {
				text-decoration: none;
				transition: all 0.35s;
			}

			a {
				&:hover {
					color: $color-brand-primary;
				}
			}


			&:last-child {
				&::after {
					content: '';
				}
			}
		}

		&.hide-on-mobile {
			@media ( max-width: 768px ) {
				display: none;
			}
		}
	}


	&.breadcrumbs-background {
		background: url('assets/img/testimonial-bg.jpg') center !important;
		background-size: cover;
	}
}

