.tabs {
	.tab-navigation {
		list-style-type: none;
		padding: 0;
		margin: 0;

		li {
			display: table-cell;
			margin-right: -2px;
			border-right: 1px solid #fff;

			a {
				text-decoration: none;
				text-transform: uppercase;
				color: $color-gray-dark;
				background: #EEEDED;
				padding: 15px 30px;
				display: block;
				font-size: 14px;

				.fa {
					font-size: 16px;
					padding: 0 15px 0 0;
				}
			}

			
			&:last-child {
				border-right: none;
			}


			&.active {
				a {
					background: #fff;
				}
			}
		}
	}


	//pulled up tab
	
	&.tabs-pulled-up {
		.tab-navigation {
			top: -48px;
			position: absolute;
			z-index: 999;
		}

	}
}

/*----------  Booking/Search Form ----------*/
.booking-container {
	.tab {
		padding: 45px 0;

		.tab-title {
			margin: 0 0 30px 0;
			font-size: 22px;
			font-weight: 500;
			position: relative;
			text-transform: uppercase;

			&:after {
				position: absolute;
				content: '';
				height: 1px;
				width: 20px;
				left: 0;
				bottom: -5px;
				background: $color-gray;
			}
		}

		.hotel-search-form {
			.form-input {
				background: #F9FAFB;
				padding-top: 10px;
				padding-bottom: 10px;
			}

			.fa {
				top: 46px;
			}

			.btn {
				margin-top: 33px;
			}
		}
	}
}