/*====================================
=            Testimonials            =
====================================*/

.testimonials-container {
	padding: 15px 0;
	list-style-type: none;
	margin: 0;

	.testimonial-item {
		margin-bottom: 30px;
	}
	
	&.testimonials-bubble {
		.testimonial-item {
			position: relative;
			text-align: center;
			margin: 0 auto;
		}

		.testimonial-thumbnail {
			margin: 0 auto;
			height: 250px;
			width: 290px;
			border-radius: 100%;
			overflow: hidden;
			position: relative;

			img {
				width: 140px;
				height: 140px;
				top: 50px;
			}
			
			img,
			.bubble-one,
			.bubble-two {
				position: absolute;
				left: 0;
				right: 0;
				margin: 0 auto;
				border-radius: 100%;
			}

			.bubble-one {
				background: #dde8f9;
				width: 240px;
				height: 240px;
			}

			.bubble-two {
				background: #cce0f7;
				width: 190px;
				height: 190px;
				top: 25px;
			}
		}

		.testimonial-description {
			.testimonial-content {
				position: relative;
				margin: 30px 0 15px;
				padding: 0 25px;
				color: $color-gray;
				
				&::before, 
				&::after {
					content: '"';
					position: absolute;
					font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
				}

				&::before {
					left: 0;
					top: 0;
					font-size: 60px;
				}

				&::after {
					right: 0;
					bottom: 0;
					font-size: 60px;
					transform: rotate(180deg);
				}
			}

			.testimonial-author {
				font-size: 16px;
				margin: 0 0 15px;
				color: $color-gray-dark;
				font-weight: 500;
			}

			.testimonial-author-position {
				font-size: 13px;
				color: $color-gray-light;
			}
		}
	}
	&.testimonials-sayings {
		padding-bottom: 60px;
		.testimonial-item {
			position: relative;
		}
		.testimonial-content {
			padding: 30px;
			background: #fff;
			box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.05);
			position: relative;
			margin: 0 0 20px;

			&::before {
				content: '';
				height: 12px;
				width: 12px;
				background: #fff;
				position: absolute;
				bottom: -5px;
				transform: rotate(45deg);
				box-shadow: 1px 0 5px rgba(0, 0, 0, 0.05);
				left: 37px;
			}
		}

		.testimonial-thumbnail,
		.testimonial-description {
			display: inline-block;
		}

		.testimonial-thumbnail {
			margin: 0;
			border-radius: 100%;
			overflow: hidden;
			width: 95px;
			height: 95px;
			border: 7px solid #d1e3f6;

			img {
				width: 120%;
				max-width: none;
			}
		}
		.testimonial-description {
			padding: 20px 0;
			margin-left: 10px;
			vertical-align: top;

			.testimonial-author {
				margin: 0;
				font-weight: 500;
				font-size: 16px;
			}

			.testimonial-author-position {
				color: $color-gray;
			}
		}
	}
}

/*=====  End of Testimonials  ======*/
