.woocommerce,
.woocommerce-page {
	ul.products {
		li.product {
			position: relative;
			border: 1px solid #e5e5e5;
			
			.product-info {
				padding: 0 15px;
			}

			h3 {
				font-size: 18px;
			}

			.star-rating {
				color: #fccc2f;
				padding: 5px 0;
			}
			
			.price {
				font-size: 14px;
				color: $color-gray;
				padding: 5px 0;
			}

			.add_to_cart_button {
				background: none;
				width: 100%;
				text-align: center;
				border-top: 1px solid #e5e5e5;
				font-weight: normal;
				padding: 13px 0;
				border-radius: 0;
				transition: all 0.35s;
				color: $color-gray-dark;

				&::before {
					content: '\f07a';
					font-family: FontAwesome;
					font-size: 15px;
					padding-right: 10px;
					line-height: 0;
				}

				&::after {
					top: 15px;
				}

				&:hover {
					background: $color-brand-primary;
					color: #fff;
				}
			}

			.added_to_cart {
				width: 100%;
				text-align: center;
				border-top: 1px solid #e5e5e5;
				padding: 10px 0;
				color: $color-gray;

				&:hover {
					background: $color-brand-primary;
					color: #fff;
				}
			}

			&.product-style-clean {
				box-shadow: 0 0 26px rgba(0, 0, 0, 0.07);
				border-bottom: 3px solid #a6bccb;
			}

			span.onsale {
				z-index: 50;
				top: 5px;
				left: 0;
				right: auto;
				border-radius: 0;
				font-weight: normal;
				min-width: 45px;
				background-color: $color-brand-primary;
			}
		}

		li.product-category {
			border: none;

			.product-cat-inner {
				position: relative;
			}

			.woocommerce-loop-category__title {
				text-align: center;
				position: absolute;
				bottom: 45px;
				left: 0;
				right: 0;
				background: rgba( 255, 255, 255, 0.5 );
				font-size: 16px;
				padding: 15px 5px;
				text-transform: uppercase;

				.count {
					background: none;
				}
			}

			&.product-category--flat {
				.woocommerce-loop-category__title {
					left: 20%;
					right: 20%;
					background: #ffffff;
					border-bottom: 6px solid #dddddd;
					box-shadow: 0 0 20px rgba( 0, 0 ,0 , 0.07 );
				}
			}
		}
	}

	// WooCommerce result count and ordering
	.woocommerce-ordering,
	.woocommerce-result-count {
		margin: 0 0 30px;
		color: $color-gray;
	}

	.woocommerce-ordering {
		select {
			padding: 7px;
			border: 1px solid $color-gray-lighten;
			color: $color-gray;
			outline: none;
		}
	}

	/* WooCommerce pagination */
	nav.woocommerce-pagination {
		padding: 45px 0;
		ul {
			border: none;

			li {
				border: none;
				border-bottom: 1px solid $color-gray;
				margin-left: 10px;

				&:first-child {
					margin-left: 0;
				}

				span.current {
					background: $color-gray-dark;
					color: #fff;
				}

				a {
					color: $color-gray;
					transition: all 0.35s;

					&:hover {
						background: $color-gray-dark;
						color: #fff;
					}
				}

				a.next {
					overflow: hidden;
					text-indent: -9999px;

					&::before {
						content: '\f105';
						font-family: FontAwesome;
						text-indent: 0;
						float: left;
					}
				}

				a.prev {
					overflow: hidden;
					text-indent: -9999px;

					&::before {
						content: '\f104';
						font-family: FontAwesome;
						text-indent: 0;
						float: left;
					}
				}
			}
		}
	}

	
	//  WooCommerce onsale
	span.onsale {
		z-index: 50;
		top: 0;
		left: 0;
		right: auto;
		border-radius: 0;
		font-weight: normal;
		min-width: 45px;
		background-color: $color-brand-primary;
	}
	//  Product Rating
	.woocommerce-product-rating {
		.star-rating {
			color: #fccc2f;
			padding: 5px 0;
		}
	}
	
	// Review Links
	.woocommerce-review-link {
		color: $color-gray;

		&:hover {
			color: $color-brand-primary;
		}
	}

	// Quantity
	.quantity {
		.qty {
			padding: 8px 0;
		}
	}
	// WooCommerce Single Product
	div.product {
		.product_title {
			font-size: $font-size-h2;
			margin-bottom: 15px;
		}

		p.price,
		span.price {
			color: $color-gray-dark;
		}

		form.cart {
			.variations {
				.label {
					width: 30%;
				}
				.value {
					width: 70%;

					select {
						display: block;
						width: 100%;
						padding: 7px;
						border: 1px solid $color-gray-lighten;
						color: $color-gray;
						outline: none;
					}

					.reset_variations {
						margin-top: 5px;
						float: right;
						color: $color-gray;
						border-bottom: 1px solid #ccc;

						@include clearfix();

						&:hover {
							color: $color-brand-primary;
						}
					}
				}

				.woocommerce-variation-price {
					p.price,
					span.price {
						color: $color-gray-dark;
					}
				}
			}

			.button {
				padding: 12px 30px;
				text-transform: uppercase;
				display: inline-block;
				transition: all 0.3s ease-in-out;
				cursor: pointer;
				outline: none;
				border: none;
				text-decoration: none;
				background: $color-brand-primary;
				color: #fff;
				border-color: #fff;
				border-radius: 0;

				&:hover {
					box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
					background: lighten($color-brand-primary, 3%);
					border-color: lighten($color-brand-primary, 3%);
				}
			}
		}

		.woocommerce-variation {
			margin-bottom: 15px;
		}

		.product_meta {
			> span {
				display: block;
				color: $color-gray;
			}
		}

		.woocommerce-tabs {
			ul.tabs {
				padding: 0;
				border: none;

				li {
					background: none;
					border-radius: 0;
					border: none;

					a {
						font-weight: normal;
					}

					&::before,
					&::after {
						content: none;
					}

					&.active {
						background: transparent;
						border-bottom: 2px solid $color-gray;
					}
				}
			}

			.panel {
				margin-bottom: 60px;
				h2 {
					font-size: 18px;
				}
			}
		}
	}


	// Related Products
	.related,
	.upsells,
	.cross-sells {
		h2 {
			font-size: 24px;
			position: relative;
			color: $color-gray-dark;
			margin-bottom: 30px;

			&::after {
				content: '';
				position: absolute;
				bottom: -4px;
				left: 0;
				height: 2px;
				width: 20px;
				background: $color-brand-primary;
			}
		}
	}

	//  Cart page
	table.shop_table {
		border: none;

		th,
		td {
			border: none;
		}
		
		thead {
			th {
				border-bottom: 2px solid $color-gray-lighter;
				text-transform: uppercase;
				padding-bottom: 15px;

			}
		}

		tr.cart_item {
			td {
				padding-top: 15px;
				padding-bottom: 15px;
			}
		}
		tbody {
			tr {
				td.actions {
					border-top: 1px solid $color-gray-lighten;
					padding-top: 30px;
				}
			}
		}

		.coupon {
			.input-text {
				padding: 9px !important;
				min-width: 200px;
			}

			
		}

		.button {
			&:disabled {
				padding: 12px 30px;
				color: #fff;
			}
		}

	}


	.cart-collaterals {
		.cart_totals {
			h2 {
				font-size: 24px;
				position: relative;
				color: $color-gray-dark;
				margin-bottom: 30px;

				&::after {
					content: '';
					position: absolute;
					bottom: -4px;
					left: 0;
					height: 2px;
					width: 20px;
					background: $color-brand-primary;
				}
			}

		}
	}

	form {
		.form-row {
			input.input-text {
				padding: 7px 15px;
				border: 1px solid #ccc;
				outline: none;
				transition: border-color 0.35s;
				margin-bottom: 15px;
				border-radius: 3px;

				&:focus {
					border: 1px solid $color-brand-primary;
				}
			}
		}
	}

	#respond input#submit,
	a.button, 
	button.button, 
	input.button {
		padding: 12px 30px;
		text-transform: uppercase;
		transition: all 0.3s ease-in-out;
		cursor: pointer;
		outline: none;
		border: none;
		text-decoration: none;
		background: $color-brand-primary;
		color: #fff;
		border-color: #fff;
		border-radius: 0;
		font-weight: normal;
		font-size: 12px;

		&:hover {
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
			background: lighten($color-brand-primary, 3%);
			border-color: lighten($color-brand-primary, 3%);
		}
	}

	#respond input#submit.alt,
	a.button.alt, 
	button.button.alt, 
	input.button.alt {
		background: $color-brand-primary;

		&:hover {
			box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
			background: lighten($color-brand-primary, 3%);
			border-color: lighten($color-brand-primary, 3%);
		}
	}


	/*----------  WooCommerce Widgets  ----------*/
	// product categories
	.widget_product_categories {
		.children {
			padding-left: 15px;
		}
	}

	// Price Filter
	.widget_price_filter {
		.ui-slider-horizontal {
			.ui-slider-range {
				background-color: $color-gray-dark;
			}

			.ui-slider-handle {
				background-color: $color-gray-dark;
			}
		}
	}
}


// woocommerce breadcrumb
.woocommerce-breadcrumb {
	margin: 0;
	float: right;
	color: $color-gray;
	@include clearfix();

	a {
		&:hover {
			color: $color-brand-primary;
		}
	}
}



/* WooCommerce Mini Cart Sidebar */
.mini-cart-sidebar {
	position: fixed;
	background: darken( $color-dark-blue, 8%);
	top: 0;
	bottom: 0;
	right: 0;
	min-width: 320px;
	z-index: 9999;
	transform: translateX(100%);
	transition: transform 0.35s;

	.mini-cart-sidebar-inner {
		height: 100%;
		position: relative;
		padding: 30px;
	}

	.mini-cart-header {
		border-bottom: 1px solid lighten( $color-dark-blue, 5%);
		padding-bottom: 15px;
		margin-bottom: 15px;

		.mini-cart__title {
			margin: 0;
			color: #fff;
			font-size: 18px;
			float: left;
		}

		.mini-cart__close {
			color: #fff;
			font-size: 12px;
			float: right;
			line-height: 2.2;
			transition: color 0.35s;
			cursor: pointer;

			&:hover {
				color: $color-brand-secondary;
			}
		}

		@include clearfix();
	}

	ul.cart_list {
		list-style-type: none;
		padding: 0;
		li {
			@include clearfix();
			margin-bottom: 15px !important;
			
			> a {
				color: #fff;
				font-size: 13px;
				font-weight: normal !important;
				margin-right: 15px;

				&:hover {
					color: $color-brand-primary;
				}
			}
			.remove {
				float: right;
				font-size: 18px;
				color: #fff !important;
				margin-right: 0;

				&:hover {
					color: $color-brand-danger !important;
				}
			}

			.attachment-shop_thumbnail {
				float: left;
				margin-right: 10px;
				width: 60px;
				height: auto;
			}

			.quantity {
				color: $color-gray-lighten;
				font-size: 12px;
				display: block;

				.amount {
					color: lighten( $color-brand-primary, 30%);
				}
			}

			&.empty {
				color: $color-gray-lighten;
			}
		}
	}

	.total {
		border-bottom: 1px solid lighten( $color-dark-blue, 5%);
		border-top: 1px solid lighten( $color-dark-blue, 5%);
		padding: 10px 0;
		color: #fff;
		@include clearfix();

		strong {
			font-weight: normal;
		}

		.amount {
			color: $color-gray-lighter;
			float: right;
		}
	}

	.buttons {
		.button {
			display: block;
			text-align: center;
			margin-bottom: 10px;
			padding: 12px 30px;
			font-size: 12px;
			text-transform: uppercase;
			color: #fff;
			background: $color-gray-light;
			line-height: 1;
			transition: all 0.35s;

			&:hover {
				background: $color-gray;
			}
		}
		
		.checkout {
			background: $color-brand-secondary;
			
			&:hover {
				background: lighten( $color-brand-secondary, 5%);
				color: #fff;
			}
		}
	}

	&.show-mini-cart {
		transform: translateX(0);
	}
}


/* Product Widget */
.suffice-woocommerce-widget {
	ul.products {
		list-style-type: none;
		
		.product {
			margin-bottom: 30px;

			.product-inner-wrapper {
				border: 1px solid #e5e5e5;
				a {
					img {
						height: auto;
						width: 100%;
						display: block;
						margin: 0 0 1em;
					}
				}

				.product-info {
					padding: 0 15px 15px;

					.product-title {
						font-size: 14px;
					}
				}

				.star-rating {
					overflow: hidden;
					position: relative;
					height: 1em;
					line-height: 1;
					width: 5.4em;
					font-family: star;
					color: #fccc2f;
					padding: 5px 0;
					margin-bottom: 10px;

					&::before {
						content: '\73\73\73\73\73';
					    color: #d3ced2;
					    float: left;
					    top: 0;
					    left: 0;
					    position: absolute;
					}

					span {
						overflow: hidden;
						float: left;
						top: 0;
						left: 0;
						position: absolute;
						padding-top: 1.5em;

						&::before {
							content: '\53\53\53\53\53';
						    top: 0;
						    position: absolute;
						    left: 0;
						}
					}
				}
			}

			&.product-style-clean {
				.product-inner-wrapper {
					box-shadow: 0 0 26px rgba(0, 0, 0, 0.07);
					border-bottom: 3px solid #a6bccb;
				}
			}
		}
	}
}
