/* Grid width system */
@mixin column-width( $width: 1 ){
	@if $width == 12 {
		width: 100%;

	} @else if $width == 11 {
		width: 91.66666667%;

	} @else if $width == 10 {
		width: 83.33333333%;

	} @else if $width == 9 {
		width: 75%;

	} @else if $width == 8 {
		width: 66.66666667%;

	} @else if $width == 7 {
		width: 58.33333333%;

	} @else if $width == 6 {
		width: 50%;

	} @else if $width == 5 {
		width: 41.66666667;

	} @else if $width == 4 {
		width: 33.33333333%;

	} @else if $width == 3 {
		width: 25%;

	} @else if $width == 2 {
		width: 16.66666667%;

	} @else if $width == 1 {
		width: 8.33333333%;

	} @else{
		width: 100%;
	}
}

@mixin column( $width: 1, $device-width: xs ){
	position: relative;
	min-height: 1px;
	padding-right: 15px;
	padding-left: 15px;
	float: left;
	
	@include column-width( $width );
}

