@media screen and ( max-width: 1200px ) {
	.full-width {
		#primary {

			.entry-content {
				> .alignwide {
					margin-left: -10px;
					margin-right: -10px;
				}
			}
		}

	}
}

@media screen and ( min-width: 992px ) {
	/* Make sticky header on desktop */
	.header-sticky-desktop {
		.header-inner-wrapper {
			position: fixed;
		}

		&.headroom--not-top {
			.header-inner-wrapper {
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			}
		}
	}
}



@media ( min-width: 768px ) {

	/* Only make slider full viewport height on larger devices */
	.slider {
		&.slider-height--full {
			.swiper-container {
				height: 100vh;
			}
		}
	}
}

@media ( max-width: 768px ) {

	/* Only make slider full viewport height on larger devices */
	.slider {
		&.slider-height--full {
			.swiper-container {
				height: 100vh;
			}
		}
	}

	.full-width {
		#primary {

			.entry-content {

				> .alignwide {
					margin-left: 0;
					margin-right: 0;
				}

				> .alignfull {
					margin-left: -15px;
					margin-right: -15px;
				}
			}
		}
	}
}
