@media screen and ( max-width: 480px ) {

	/* Header adjustment on mobile devices*/
	.header-top {
		.header-top-left-section {
			width: 50%;
		}
		
		.header-top-right-section {
			padding-top: 40px;
			width: 50%;
		}
	}
	
	.featured-post-container {
		&.feature-post-style-two {
			.feature-post-grid-container {
				position: initial;
				max-width: none;
			}
		}
	}

	.slider {
		.slider-content {
			.slider-title {
				font-size: 20px !important;
			}

			.slider-description {
				display: none;
			}

			.btn {
				padding: 10px 15px;
				font-size: 10px;
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}

	.header-action-search-form {
		right: -35px;
	}

	.cta {
		.cta-bordered-inner {
			.cta-actions {
				.btn-group {
					.btn {
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			}
		}
	}
}

@media screen and ( max-width: 768px ) {
	
	.header-sticky-mobile {
		.header-inner-wrapper {
			position: fixed;
		}

		&.headroom--not-top {
			.header-inner-wrapper {
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			}
		}
	}

	/* When logo is in center and menu also on center*/
	.logo-center-menu-center {
		.header-action-container {
			top: -75px;
		}
	}

	.search-form-container {
		&.search-form-style-fullscreen {
			.search-form {
				.search-field {
					font-size: 18px;
				}

				.search-submit {
					font-size: 14px;
					top: 0;
					padding: 0 10px;
				}
			}

		}
	}

	.slider {
		.slider-content {
			.slider-title {
				font-size: 32px;
			}

			.slider-description {
				font-size: 18px;
				font-weight: normal;
			}
		}
	}

	.cta {
		text-align: center;
		
		.cta-info {
			.cta-title {
				font-size: 24px;
			}
		}
		.cta-icon-inner {
			margin: 15px auto 45px !important;
		}
	}

	.cta-boxed-one {
		padding: 30px;

		.cta-bordered-inner {
			flex-direction: column;

			.cta-actions {
				.btn-group {
					float: none;
				}
			}
		}
	}

	.cta-big-bordered {
		padding: 20px;

		.cta-bordered-inner {
			padding: 20px;
		}
	}

	.cta-background {
		padding: 45px;
	}
}
