@media screen and ( max-width: 768px ) {
	
	.header-sticky-mobile {
		.header-inner-wrapper {
			position: fixed;
		}

		&.headroom--not-top {
			.header-inner-wrapper {
				box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
			}
		}
	}

	/* When logo is in center and menu also on center*/
	.logo-center-menu-center {
		.header-action-container {
			top: -75px;
		}
	}

	.search-form-container {
		&.search-form-style-fullscreen {
			.search-form {
				.search-field {
					font-size: 18px;
				}

				.search-submit {
					font-size: 14px;
					top: 0;
					padding: 0 10px;
				}
			}

		}
	}

	.slider {
		.slider-content {
			.slider-title {
				font-size: 32px;
			}

			.slider-description {
				font-size: 18px;
				font-weight: normal;
			}
		}
	}

	.cta {
		text-align: center;
		
		.cta-info {
			.cta-title {
				font-size: 24px;
			}
		}
		.cta-icon-inner {
			margin: 15px auto 45px !important;
		}
	}

	.cta-boxed-one {
		padding: 30px;

		.cta-bordered-inner {
			flex-direction: column;

			.cta-actions {
				.btn-group {
					float: none;
				}
			}
		}
	}

	.cta-big-bordered {
		padding: 20px;

		.cta-bordered-inner {
			padding: 20px;
		}
	}

	.cta-background {
		padding: 45px;
	}

	// remove padding of sidebar
	#secondary {
		padding-left: 0;
	}

	#primary,
	#secondary {
		margin-top: 30px;
	}


	// show mobile menu toggle
	.header-action-container {
		.navigation-togglers-wrapper {
			.menu-toggle-mobile {
				display: block;
			}

			.menu-toggle-desktop {
				&.menu-toggle-navigation-offcanvas,
				&.menu-toggle-navigation-offcanvas-push,
				&.menu-toggle-navigation-fullscreen {
					display: none;
				}
			}
		}
	}

	// hide main menu
	.main-navigation {
		display: none;
	}
	.footer-widgets {
		&.footer-widgets-col--three,
		&.footer-widgets-col--four {
			.widget {
				width: 48.5%;
			}
		}
	}

}



@media screen and ( max-width: 480px ) {
	
	/* Header adjustment on mobile devices*/
	.header-top {
		.header-top-left-section,
		.header-top-right-section {
			float: none;
			text-align: center;
		}

		.header-top-left-section {
			margin-bottom: 10px;
		}
	}
	
	.featured-post-container {
		&.feature-post-style-two {
			.feature-post-grid-container {
				position: initial;
				max-width: none;
			}
		}
	}

	.slider {
		.slider-content {
			.slider-title {
				font-size: 24px !important;
			}

			.slider-description {
				display: none;
			}

			.btn {
				padding: 15px 20px;
				font-size: 12px;
			}
		}

		.swiper-button-next,
		.swiper-button-prev {
			display: none;
		}
	}

	.header-action-search-form {
		right: -35px;
	}

	.cta {
		.cta-bordered-inner {
			.cta-actions {
				.btn-group {
					.btn {
						margin-right: 0;
						margin-bottom: 15px;
					}
				}
			}
		}
	}

	.footer-widgets {
		flex-direction: column;
		&.footer-widgets-col--two,
		&.footer-widgets-col--three,
		&.footer-widgets-col--four {
			.widget {
				width: 100%;
			}
		}
	}

	.footer-bottom {
		.footer-bottom-container {
			flex-direction: column;
			.site-info,
			.footer-navigation {
				width: 100%;
				text-align: center;
			}

			.footer-menu {
				padding: 0;
				margin-top: 0;
			}
		}
	}
}
