/*==========  Gray colors  ==========*/

$color-gray-base: 				#000;
$color-gray-darken: 			#252525;
$color-gray-darker: 			#1E1E1F; //Gray 85%
$color-gray-dark: 				#424143;  // Gray 80%
$color-gray: 					#67666A; // Gray 67%
$color-gray-light:				#807F83; // Gray 65%
$color-gray-lighter: 			#CBC9CF; // Gray 30%
$color-gray-lighten:			#E5E4E6; // Gray 15%

/*=====  Light colors  ======*/
$color-white:					#FFF;
$color-brand-secondary:			#EF7278;

/*==========  Brand-colors  ==========*/

$color-brand-primary:        	#00BAF4;
$color-brand-success:        	#5CB85C;
$color-brand-info:           	#5BC0DE;
$color-brand-warning:        	#F0AD4E;
$color-brand-danger:         	#D9534F;


$color-heading:					$color-gray-dark;


/*----------  More Colors  ----------*/
$color-pink:					#DD9EBD;
$color-green:					#A0D695;
$color-dark-green:				#2ECC71;
$color-blue:					#0085BA;
$color-dark-blue:				#2C3C4D;
$color-orange:					#F8A660;
$color-cyan:					#83E0F1;
$color-yellow:					#FFE066;
