$font-family-body:					'Open Sans', Helvetica, Arial, sans-serif;
$font-family-heading:				'Poppins', Helvetica, Arial, sans-serif;

$font-size-base:					14px;
$font-size-large:         			ceil(($font-size-base * 1.25)); // ~18px
$font-size-small:         			ceil(($font-size-base * 0.85)); // ~12px

$font-size-h1:            			48px;
$font-size-h2:            			32px;
$font-size-h3:            			26px;
$font-size-h4:            			20px;
$font-size-h5:            			18px;
$font-size-h6:            			16px;


$line-height-base:        			24px;
