.suffice-kirki-seperator {
	margin: 45px 0 15px;
	display: block;
	position: relative;
	font-size: 18px;
	padding-bottom: 8px;
	text-transform: uppercase;
	line-height: 1.5;
	border-bottom: 1px solid #ccc;
}

.suffice-kirki-seperator::before {
	content: '';
	position: absolute;
	height: 2px;
	width: 30px;
	background: #00baf4;
	bottom: -1px;
}
/* Theme Instructions Panel CSS */
li#accordion-section-suffice_important_links h3.accordion-section-title, li#accordion-section-suffice_important_links h3.accordion-section-title:focus { background-color: #00baf4 !important; color: #fff !important; }
li#accordion-section-suffice_important_links h3.accordion-section-title:hover { background-color: #00c2ff !important; color: #fff !important; }
li#accordion-section-suffice_important_links h3.accordion-section-title::after { color: #fff !important; }
/* Upsell button CSS */
#sub-accordion-section-suffice_important_links a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#8fc800+0,8fc800+100;Green+Flat+%232 */
	background: #00baf4;
	color: #fff;
	display: block;
	margin: 15px 0 0;
	padding: 5px 0;
	text-align: center;
	font-weight: 600;
	text-decoration: none;
	padding: 8px 0;
}

#sub-accordion-section-suffice_important_links a:hover {
	color: #ffffff;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#006e2e+0,006e2e+100;Green+Flat+%233 */
	background:#00c2ff;
}