.site-footer {
	margin-top: 60px;
	background-color: #14172a;
}


/* Footer Widgets */
.footer-widgets {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding: 60px 0 15px;

	.widget {
		.widget-title {
			color: #fff;
			text-transform: uppercase;
			padding: 0;

			&::before {
				content: '';
				border: none;

			}
		}
		
		p {
			color: #5f6581;
		}
		ul {
			margin: 0;
			padding: 0;
			list-style-type: none;
			
			li {
				padding-bottom: 10px;
				border-width: 0;

				span,
				a,
				span a {
					color: #5f6581;
				}

				a {
					&:hover {
						color: #8087a8;
					}
				}
			}
		}
	}

	.textwidget {
		color: #5f6581;
		line-height: 24px;
	}

	&.footer-widgets-col--one {
		.widget {
			width: 100%;
		}
	}

	&.footer-widgets-col--two {
		.widget {
			width: 48.5%;
		}
	}

	&.footer-widgets-col--three {
		.widget {
			width: 31.5%;
		}
	}

	&.footer-widgets-col--four {
		.widget {
			width: 23%;
		}
	}
}

.footer-bottom {
	.site-info {
		padding: 15px 0;
		font-size: 12px;
		flex: 6;
		color: #516f8e;

		a {
			text-decoration: none;
			color: #516f8e;

			&:hover {
				color: lighten(#516f8e, 20%);
			}
		}
	}
	.footer-bottom-container {
		display: flex;
		justify-content: space-between;
		align-items: center;
		border-top: 1px solid #212538;
	}

	.footer-social-links {
		padding: 15px 0;
	}
}


// body dimmer
.suffice-body-dimmer {
	transition: all 0.35s;
	
	&.dim-it {
		z-index: 999;
		position: fixed;
		top: 0;
		bottom: 0;
		right: 0;
		left: 0;
		background: rgba( 0, 0, 0, 0.5 );
	}
}
