/**
  CSS rule of welcome admin before 2.2.0 update
 */
pre.changelog {
  font-size: 12px;
  background-color: #f5f5f5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(50%, #f5f5f5), color-stop(50%, #e6e6e6));
  background-image: -webkit-linear-gradient(#f5f5f5 50%, #e6e6e6 50%);
  background-image: linear-gradient(#f5f5f5 50%,#e6e6e6 50%);
  background-size: 38px 38px;
  border: 1px solid #d4d4d4;
  display: block;
  line-height: 19px;
  margin-bottom: 10px;
  overflow: visible;
  overflow-y: hidden;
  padding: 0 0 0 4px;
}

pre.changelog span {
  font-weight: 700;
}
.return-to-dashboard.suffice {
  clear: both;
}

p.suffice-actions a.skip {
  opacity: .5;
}

p.suffice-actions a.docs:focus,
p.suffice-actions a.docs:hover,
p.suffice-actions a.skip:focus,
p.suffice-actions a.skip:hover {
  opacity: 1;
}

p.suffice-actions a.button-primary,
p.suffice-actions a.button-secondary {
  text-decoration: none!important;
}

.about-wrap {
  max-width: 100%;
}

.about-wrap h1 {
  display: block;
  text-align: center;
  width: 100%;
  font-size: 38px;
  font-weight: 600;
}

.welcome-description-wrap {
  display: inline-block;
  width: 100%;
  margin: 20px 0;
}

.about-wrap .about-text,
.suffice-screenshot {
  margin: 20px 10px;
  width: 47%;
  float: left;
}

@media (max-width: 1400px) {
  .about-wrap h1 {
    font-size: 30px;
  }
  .about-wrap .about-text {
    font-size: 16px;
  }
}

@media (max-width: 1200px) {
  .about-wrap .about-text {
    font-size: 14px;
  }
}

@media (max-width: 980px) {
  .about-wrap h1 {
    font-size: 25px;
  }
  .about-wrap .about-text,
  .suffice-screenshot {
    float: none;
    width: 100%;
  }
}

/**
 * Notices.
 */
.suffice-notice {
  position: relative;
  padding: 6px 40px 6px 12px;

  .links {
    margin: 0.5em 0;

    a {
      margin: 2px;

      & > span {
        vertical-align: middle;
      }
    }
  }

  .notice-text {
    .coupon-code {
      display: inline-block;
    }
  }

  .notice-dismiss {
    text-decoration: none;
  }
}

/**
 * Welcome notice.
 */
.suffice-message__content {
  display: flex;
  align-items: center;

  .suffice-message__image {
    flex: 0 0 160px;
    min-height: 100px;
    margin-right: 12px;
    padding-right: 12px;
    border-right: 1px solid #FCFCFD;

    .suffice-screenshot {
      width: 100%;
      box-shadow: 0 0 1px 0 #ccd0d4;
      margin: 0;
      float: none;
    }
  }

  .suffice-message__heading {
    margin-top: 0;
    margin-bottom: 12px;
    line-height: 1.4;
  }

  .suffice-message__cta {
    display: flex;
    align-items: center;

    .plugin-install-notice {
      margin-left: 15px;
      line-height: 1.4;
    }

    a {
      &:before {
        margin: 5px;
        vertical-align: middle;
      }
    }
  }
}

// Dismiss button.
a.suffice-message-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10px 15px 10px 21px;
  font-size: 13px;
  line-height: 1.23076923;
  text-decoration: none;

  &:before {
    position: absolute;
    top: 8px;
    left: 0;
    -webkit-transition: all .1s ease-in-out;
    transition: all .1s ease-in-out;
  }
}

@media screen and (max-width: 782px) {
  .suffice-message__image {
    display: none;
  }
}

/**
 * Dashboard page.
 */
.wrap .suffice-header {
  background-color: #fff;
  padding: 12px 20px;
  border-bottom: 1px solid #ccd0d4;
  margin-left: -20px;
  margin-right: -20px;
}

.appearance_page_suffice-options .wrap {
  margin-top: 0;
}

/**
 * Responsive.
 */
@media (max-width: 600px) {
  .suffice-message__content {
    .suffice-screenshot {
      display: none;
    }

    .suffice-message__text {
      padding: 0;
      width: 100%;
    }
  }
}